@using Pl.Admin.Client.Source.Shared.Api.Web.Endpoints
@using Pl.Admin.Client.Source.Shared.Constants
@using Pl.Admin.Models.Features.Devices.Arms.Queries
@using Pl.Admin.Models

@attribute [Route(Urls.Arms + "/{Id:guid}")]

<UseEndpoint
  Endpoint="@DevicesEndpoints.ArmEndpoint"
  Arg="@Id"
  Context="armQuery"
>
  <Breadcrumbs Start="BreadcrumbStart.Back">
    <Breadcrumb Label=@Localizer["SectionArm"] Link="@Urls.Arms" />
    @if (armQuery.HasData)
    {
      <Breadcrumb Label="@armQuery.Data.Name" />
    }
  </Breadcrumbs>

  <ViewHeader Title="@armQuery.Data?.Name">
    <TitleContent Context="header">
      <div class="flex gap-2 items-center">
        <h2 class="font-bold text-3xl truncate tracking-tight">@header</h2>
        @if (armQuery.HasData)
        {
          <div class="@Css.Class("size-4 rounded-full overflow-hidden", (DateTime.Now - armQuery.Data.ChangeDt).TotalMinutes < 5 ? "bg-green-500" : "bg-muted-foreground")"></div>
        }
      </div>
    </TitleContent>

    <ButtonsContent>
      @if (armQuery.HasData)
      {
        <ViewButtonShare Link="@RedirectHelper.ToAbsoluteUrl(RedirectHelper.ToArm(armQuery.Data.Id))" />
        <ViewButtonUpdate TDialog="ArmUpdateDialog" Model="armQuery.Data" />
        <ViewButtonDelete Action="@EventCallback.Factory.Create(this, () => DeleteItem(armQuery.Data))" />
      }
    </ButtonsContent>

    <TabsContent>
      <ViewTabButton Value="info" @bind-CurrentTab="CurrentTab">
        Информация
      </ViewTabButton>
      <ViewTabButton Value="plus" @bind-CurrentTab="CurrentTab">
        ПЛУ
      </ViewTabButton>
      <ViewTabButton Value="labels" @bind-CurrentTab="CurrentTab">
        Этикетки
      </ViewTabButton>
      <ViewTabButton Value="pallets" @bind-CurrentTab="CurrentTab">
        Паллеты
      </ViewTabButton>
      <ViewTabButton Value="analytics" @bind-CurrentTab="CurrentTab">
        Аналитика
      </ViewTabButton>
    </TabsContent>
  </ViewHeader>

  <Tabs @bind-ActiveTabId="@CurrentTab">
    @if (armQuery.HasData)
    {
      <Tab Id="info">
        <ArmViewInfo Model="@armQuery.Data"/>
      </Tab>
      <Tab Id="analytics">
        <ArmViewAnalytics Model="@armQuery.Data" />
      </Tab>
      <Tab Id="labels">
        <ArmViewLabels Model="@armQuery.Data" />
      </Tab>
      <Tab Id="pallets">
        <ArmViewPallets Model="@armQuery.Data" />
      </Tab>
      <Tab Id="plus">
        <ArmViewPlu Model="@armQuery.Data" />
      </Tab>
    }
  </Tabs>
</UseEndpoint>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private PageHelper PageHelper { get; set; } = default!;
  [Inject] private DevicesEndpoints DevicesEndpoints { get; set; } = default!;
  [Inject] private RedirectHelper RedirectHelper { get; set; } = default!;
  [Inject] private IWebApi WebApi { get; set; } = default!;
  [Parameter] public Guid Id { get; set; }

  private string CurrentTab { get; set; } = "info";

  private async Task DeleteItem(ArmDto item)
  {
    await WebApi.DeleteArm(item.Id);
    DevicesEndpoints.DeleteArm(item.ProductionSite.Id, item.Id);
    await PageHelper.OpenLink(Urls.Arms);
  }
}