@using Blazor.Heroicons.Outline
@using Pl.Admin.Client.Source.Shared.Api.Web.Endpoints
@using Pl.Admin.Client.Source.Shared.Constants

@attribute [Route(Urls.Bundles)]
@rendermode InteractiveServer

<PageTitle>Admin - @Localizer["SectionBundles"]</PageTitle>

<UseParameterlessEndpoint Endpoint="@References1CEndpoints.BundlesEndpoint" Options="@(PageHelper.DefaultEndpointOptions)" Context="bundlesQuery">
  <DataGridHeader>
    <DataGridLabelWithCounter Label="@Localizer["SectionBundles"]" ItemsCount="@bundlesQuery.Data?.Length" IsLoading="bundlesQuery.IsLoading"/>
    <DataGridActionReload OnClick="@bundlesQuery.RefetchAsync" IsLoading="bundlesQuery.IsFetching" />
  </DataGridHeader>

  <DataGridContainer
    TItem="PackageDto"
    Items="@(bundlesQuery.HasData ? bundlesQuery.Data : [])"
    OnItemSelect="@(item => OpenUpdateDialog(item))"
  >
    <ColumnsContent>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColStatus"]"
        Width="5%"
        Filterable="false"
      >
        <DisplayTemplate>
          @if (context.Name.StartsWith('я'))
          {
            <div class="w-full flex items-center justify-center">
              <TrashIcon class="text-red-600 size-5"/>
            </div>
          }
        </DisplayTemplate>
      </DataGridColumn>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColChangeDt"]"
        Field="@nameof(PackageDto.ChangeDt)"
        Width="20%"
      />

      <DataGridColumn
        Caption="@WsDataLocalizer["ColName"]"
        Field="@nameof(PackageDto.Name)"
        Width="55%"
      />

      <DataGridColumn
        Caption="@WsDataLocalizer["ColWeight"]"
        Field="@nameof(PackageDto.Weight)"
        Width="20%"
      />
    </ColumnsContent>
    <ContextMenuContent>
      <DataGridActionUpdateItem TItem="PackageDto" Action="@OpenUpdateDialog" />
    </ContextMenuContent>
  </DataGridContainer>
</UseParameterlessEndpoint>

@code {
  #region Inject

  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private IStringLocalizer<WsDataResources> WsDataLocalizer { get; set; } = default!;
  [Inject] private References1CEndpoints References1CEndpoints { get; set; } = default!;
  [Inject] private PageHelper PageHelper { get; set; } = default!;
  [Inject] private IDialogService DialogService { get; set; } = default!;

  #endregion

  private Task OpenUpdateDialog(PackageDto item) =>
    DialogService.ShowDialogAsync<BundlesViewDialog>(item, PageHelper.DialogParameters);
}
