@using Blazor.Heroicons.Outline
@using Pl.Admin.Client.Source.Shared.Api.Web.Endpoints
@using Pl.Admin.Client.Source.Shared.Constants

@attribute [Route(Urls.Clips)]
@rendermode InteractiveServer

<BrowserTitle Label="@Localizer["SectionClips"]" />

<UseParameterlessEndpoint
  Endpoint="@References1CEndpoints.ClipsEndpoint"
  Options="@(PageHelper.DefaultEndpointOptions)"
  Context="query"
>
  <Breadcrumbs Class="pb-5">
    <Breadcrumb Label="@Localizer["SectionClips"]" Link="@Urls.Clips" />
  </Breadcrumbs>

  <DataGridHeader>
    <DataGridLabelWithCounter
      Label="@Localizer["SectionClips"]"
      ItemsCount="@query.Data?.Length"
      IsLoading="query.IsLoading"
    />
    <DataGridActionReload OnClick="@query.RefetchAsync" IsLoading="query.IsFetching" />
  </DataGridHeader>

  <DataGridContainer
    TItem="PackageDto"
    Items="@(query.HasData ? query.Data : [])"
    OnItemSelect="@(item => PageHelper.OpenLink(RedirectHelper.ToClip(item.Id)))"
  >
    <ColumnsContent>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColStatus"]"
        Width="5%"
        Filterable="false"
      >
        <DisplayTemplate>
          @if (context.Name.StartsWith('я'))
          {
          <div class="w-full flex items-center justify-center">
            <TrashIcon class="text-red-600 size-5"/>
          </div>
          }
        </DisplayTemplate>
      </DataGridColumn>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColChangeDt"]"
        Field="@nameof(PackageDto.ChangeDt)"
        Width="20%"
      />

      <DataGridColumn
        Caption="@WsDataLocalizer["ColName"]"
        Field="@nameof(PackageDto.Name)"
        Width="55%"
      />

      <DataGridColumn
        Caption="@WsDataLocalizer["ColWeight"]"
        Field="@nameof(PackageDto.Weight)"
        Width="20%"
      />
    </ColumnsContent>
    <ContextMenuContent>
      <DataGridActionOpenItem Link="@RedirectHelper.ToClip(context.Item.Id)" />
      <DataGridActionOpenInNewTab TItem="PackageDto" Link="@RedirectHelper.ToClip(context.Item.Id)" />
    </ContextMenuContent>
  </DataGridContainer>
</UseParameterlessEndpoint>

@code {
  #region Inject

  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private IStringLocalizer<WsDataResources> WsDataLocalizer { get; set; } = default!;

  [Inject] private PageHelper PageHelper { get; set; } = default!;
  [Inject] private RedirectHelper RedirectHelper { get; set; } = default!;
  [Inject] private References1CEndpoints References1CEndpoints { get; set; } = default!;

  #endregion
}
