@using Blazor.Heroicons.Outline
@using Pl.Admin.Client.Source.Shared.Api.Web.Endpoints
@using Pl.Admin.Client.Source.Shared.Constants

@attribute [Route(Urls.Clips)]
@rendermode InteractiveServer

<PageTitle>Admin - @Localizer["SectionClips"]</PageTitle>

<UseParameterlessEndpoint Endpoint="@References1CEndpoints.ClipsEndpoint" Options="@(PageHelper.DefaultEndpointOptions)" Context="clipsQuery">
  <DataGridHeader>
    <DataGridLabelWithCounter Label="@Localizer["SectionClips"]" ItemsCount="@clipsQuery.Data?.Length" IsLoading="clipsQuery.IsLoading" />
    <DataGridActionReload OnClick="@clipsQuery.RefetchAsync" IsLoading="clipsQuery.IsFetching" />
  </DataGridHeader>

  <DataGridContainer
    TItem="PackageDto"
    Items="@(clipsQuery.HasData ? clipsQuery.Data : [])"
    OnItemSelect="@(item => OpenUpdateDialog(item))"
  >
    <ColumnsContent>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColStatus"]"
        Width="5%"
        Filterable="false"
      >
        <DisplayTemplate>
          @if (context.Name.StartsWith('я'))
          {
          <div class="w-full flex items-center justify-center">
            <TrashIcon class="text-red-600 size-5"/>
          </div>
          }
        </DisplayTemplate>
      </DataGridColumn>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColChangeDt"]"
        Field="@nameof(PackageDto.ChangeDt)"
        Width="20%"/>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColName"]"
        Field="@nameof(PackageDto.Name)"
        Width="55%"/>
      <DataGridColumn
        Caption="@WsDataLocalizer["ColWeight"]"
        Field="@nameof(PackageDto.Weight)"
        Width="20%"/>
    </ColumnsContent>
    <ContextMenuContent>
      <DataGridActionUpdateItem TItem="PackageDto" Action="@OpenUpdateDialog" />
    </ContextMenuContent>
  </DataGridContainer>
</UseParameterlessEndpoint>

@code {
  #region Inject

  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private IStringLocalizer<WsDataResources> WsDataLocalizer { get; set; } = default!;
  [Inject] private References1CEndpoints References1CEndpoints { get; set; } = default!;
  [Inject] private PageHelper PageHelper { get; set; } = default!;
  [Inject] private IDialogService DialogService { get; set; } = default!;

  #endregion

  private Task OpenUpdateDialog(PackageDto item) =>
    DialogService.ShowDialogAsync<ClipsViewDialog>(item, PageHelper.DialogParameters);
}
