@using Ws.DeviceControl.Models.Features.Devices.Arms.Queries

<h2 class="text-xl font-medium pb-3 px-2">Общая информация</h2>
<div class="w-full grid grid-cols-3 gap-4 xl:grid-cols-4 2xl:grid-cols-5 px-2">
  <ViewField Label="Наименование" Value="@Arm.Name" />
  <ViewField Label="Номер" Value="@Arm.Number.ToString()" />
  <ViewField Label="Версия ПО" Value="@Arm.Version" />
  <ViewField Label="Счетчик" Value="@Arm.Counter.ToString()" />
  <ViewField Label="Тип устройства" Value="@Localizer[Arm.Type.GetDescription()]" />
  <ViewField Label="Подключенный принтер" Value="@Arm.Printer.Name" />
  <ViewField Label="Площадка" Value="@Arm.Warehouse.Name" />
</div>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Parameter, EditorRequired] public ArmDto Arm { get; set; } = default!;
}