@using Pl.Admin.Client.Source.Pages.Devices.Arms.Update
@using Pl.Admin.Client.Source.Shared.Api.Web.Endpoints
@using Pl.Admin.Client.Source.Shared.Constants
@using Pl.Admin.Models.Features.Devices.Arms.Queries
@using Pl.Admin.Models
@using Pl.Admin.Client.Source.Features

@attribute [Route(Urls.Arms + "/{Id:guid}")]
@attribute [Authorize(Policy = PolicyEnum.Support)]

<UseEndpoint
  Endpoint="@DevicesEndpoints.ArmEndpoint"
  Arg="@Id"
  Context="query"
>
  <BrowserTitle Label="@(query.Data?.Name ?? Localizer["SectionArm"])" />

  <Breadcrumbs Start="BreadcrumbStart.Back">
    <Breadcrumb Label=@Localizer["SectionArm"] Link="@Urls.Arms" />
    @if (query.HasData)
    {
      <Breadcrumb Label="@query.Data.Name" />
    }
  </Breadcrumbs>

  <ViewHeader Title="@query.Data?.Name">
    <TitleContent Context="header">
      <div class="flex gap-2 items-center">
        <h2 class="font-bold text-3xl truncate tracking-tight">@header</h2>
        @if (query.HasData)
        {
          <div class="@Css.Class("size-4 rounded-full overflow-hidden", (DateTime.Now - query.Data.ChangeDt).TotalMinutes < 5 ? "bg-green-500" : "bg-muted-foreground")"></div>
        }
      </div>
    </TitleContent>

    <ButtonsContent>
      @if (query.HasData)
      {
        <ViewButtonShare Link="@RedirectHelper.ToAbsoluteUrl(RedirectHelper.ToArm(query.Data.Id))" />
        <SupportAuthView ProductionSiteUid="@query.Data.ProductionSite.Id">
          <ViewButtonUpdate TDialog="ArmUpdateDialog" Model="query.Data" />
        </SupportAuthView>
        <AuthorizeView Policy="@PolicyEnum.SeniorSupport">
          <ViewButtonDelete Action="@EventCallback.Factory.Create(this, () => DeleteItem(query.Data))" />
        </AuthorizeView>
      }
    </ButtonsContent>

    <TabsContent>
      <ViewTabButton Value="info" @bind-CurrentTab="CurrentTab">
        @Localizer["SectionViewInfo"]
      </ViewTabButton>
      <ViewTabButton Value="plus" @bind-CurrentTab="CurrentTab">
        @WsDataLocalizer["ColPlu"]
      </ViewTabButton>
      <ViewTabButton Value="labels" @bind-CurrentTab="CurrentTab">
        @WsDataLocalizer["ColLabels"]
      </ViewTabButton>
      <ViewTabButton Value="pallets" @bind-CurrentTab="CurrentTab">
        @WsDataLocalizer["ColPallets"]
      </ViewTabButton>
      <ViewTabButton Value="analytics" @bind-CurrentTab="CurrentTab">
        @Localizer["SectionViewAnalytics"]
      </ViewTabButton>
    </TabsContent>
  </ViewHeader>

  <Tabs @bind-ActiveTabId="@CurrentTab">
    @if (query.HasData)
    {
      <Tab Id="info">
        <ArmViewInfo Model="@query.Data"/>
      </Tab>
      <Tab Id="analytics">
        <ArmViewAnalytics Model="@query.Data" />
      </Tab>
      <Tab Id="labels">
        <ArmViewLabels Model="@query.Data" />
      </Tab>
      <Tab Id="pallets">
        <ArmViewPallets Model="@query.Data" />
      </Tab>
      <Tab Id="plus">
        <ArmViewPlu Model="@query.Data" />
      </Tab>
    }
  </Tabs>
</UseEndpoint>

@code {
  # region Injects

  [Inject] private IWebApi WebApi { get; set; } = default!;
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private IStringLocalizer<WsDataResources> WsDataLocalizer { get; set; } = default!;

  [Inject] private PageHelper PageHelper { get; set; } = default!;
  [Inject] private DevicesEndpoints DevicesEndpoints { get; set; } = default!;
  [Inject] private RedirectHelper RedirectHelper { get; set; } = default!;

  # endregion

  [Parameter] public Guid Id { get; set; }

  private string CurrentTab { get; set; } = "info";

  private async Task DeleteItem(ArmDto item)
  {
    await WebApi.DeleteArm(item.Id);
    DevicesEndpoints.DeleteArm(item.ProductionSite.Id, item.Id);
    await PageHelper.OpenLink(Urls.Arms);
  }
}
