@using DeviceControl.Source.Shared.Constants
@using Blazor.Heroicons.Outline
@using DeviceControl.Source.Features.ThemeSwitcher

<div class="h-12 px-2 flex items-center w-full shrink-0" data-sidebar="footer">
  <AuthorizeView>
    <Authorized>
      <div class="flex w-full items-center overflow-hidden justify-between">
        <div class="flex items-center gap-3 overflow-hidden w-full">
          <div class="size-10 p-2.5 rounded-full overflow-hidden flex items-center justify-center bg-secondary shrink-0">
            <UserIcon class="size-full"/>
          </div>
          <div class="flex flex-col w-full overflow-hidden">
            <span class="text-sm truncate">@GetUserShortName()</span>
            <span class="text-xs text-muted-foreground truncate">@User.Identity?.Name</span>
          </div>
        </div>
        <form method="post" action="@($"{Urls.Authorization}/logout")" class="shrink-0">
          <Button Variant="ButtonVariantType.Ghost" Size="ButtonSizeType.Icon" Type="@ButtonType.Submit">
            <span class="sr-only">Logout</span>
            <ArrowLeftOnRectangleIcon class="size-5"/>
          </Button>
          <AntiforgeryToken/>
        </form>
      </div>
    </Authorized>
    <NotAuthorized>
      <div class="flex w-full items-center justify-center">
        <a href="@($"{Urls.Authorization}/login")">
          <Button Variant="ButtonVariantType.Outline">
            Log in
          </Button>
        </a>
      </div>
    </NotAuthorized>
  </AuthorizeView>
  <ThemeSwitcher />
</div>

@code {
  [CascadingParameter] private Task<AuthenticationState> AuthState { get; set; } = default!;

  private ClaimsPrincipal User { get; set; } = default!;

  protected override async Task OnInitializedAsync() => User = (await AuthState).User;

  private string GetUserShortName()
  {
    string fullName = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.GivenName)?.Value ?? "";
    string[] nameParts = fullName.Split(" ");
    IEnumerable<string> initialChar = nameParts.Skip(1).Select(s => string.IsNullOrWhiteSpace(s) ? "" : $"{char.ToUpper(s[0])}.");
    return $"{nameParts[0]} {string.Concat(initialChar)}".Capitalize();
  }
}
